# Redbus Configuration
FROM_CITY=75493
TO_CITY=314648
DATE=28-Sep-2026
LIMIT=50

# Mail Configuration
RAPIDAPI_KEY=YOUR_RAPIDAPI_KEY_HERE
TO_EMAILS=your_email@gmail.com,another_email@example.com

# Tracker Settings
CHECK_INTERVAL_SECONDS=60
EMAIL_COOLDOWN_HOURS=1
